<div class="container">

  <div class="jumbotron">
    <h1 class="display-4">Welcome to expenditures Manager</h1>
    <p class="lead">This is a simple app for managing your expenditures.</p>
    <hr class="my-4">

  </div>
</div>
