<div class="container">

  <div class="jumbotron d-flex justify-content-between">
  <div class="">
    <h1 class="display-4">Welcome to expenditures Manager</h1>
    <p class="lead">This is a simple app for managing your expenditures.</p>
  </div>
    <div class="profile-pic">
      <%= image_tag("https://png.pngtree.com/png-vector/20190810/ourmid/pngtree-audit-accounting-banking-budget-business-calculation-finan-png-image_1654072.jpg", style: "width: 50%;")%>
    </div>
    <hr class="my-4">
  </div>
</div>
