<div class="container">
  <h2>Expenditures</h2>
  <%= link_to "Add Expenditure",  expenditures_new_path %>
  <% if @category.expenditures.any? %>
        <header>
          <th>Name</th>
          <th>Amount</th>
          <th>Date</th>
        </header>
        <% @category.expenditures.order(created_at: :desc).each do |expenditure| %>
            <div class="card is-flex is-justify-content-space-between">
              <td><%= expenditure.name %></td>
              <td><%= number_to_currency(expenditure.amount) %></td>
              <td><%= expenditure.created_at.strftime("%m/%d/%Y") %></td>
            </div>
        <% end %>
  <% else %>
    <p>No expenditures found for this category.</p>
  <% end %>
</div>